@import url(reset.css);
:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --logo-color: #d49466;
    --pull-color: rgb(100, 201, 100);

    /* color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --gray-dark-color: #909090;
    --gray-light-color: #e0e0e0;

    /* size */
    --side-padding: 12px;
    --avatar-size: 36px;

    /* font size*/
    --font-large: 24px;
    --font-medium: 20px;
    --font-small: 16px;
    --font-micro: 12px;
}

html{position: relative; min-height: 100%;}
a:hover { text-decoration: none; /* 링크의 밑줄 제거 */}
body{margin-bottom: 60px;
    --font-family: 'Source Sans Pro' }
.hidden{ display: none !important;}

/* header */ /* 468 926 */
header {
    display: flex; justify-content: center;
    padding: 30px 0px; background-color: var(--background-color);
    box-shadow: 2px 2px 2px rgb(0,0,0);}
header .member {
    display: flex;
    min-width: 400px; max-width: 1280px;
    justify-content: space-between; color: var(--white-color); }

header .member .member-logo {
    display: flex; align-items: center;
    font-size: var(--font-large); }
header .member .member-logo i{
    color: gold;
    padding: 15px 5px 15px 0; }
header .member .member-logo a{
    padding: 15px 0 15px 5px; }
header .member .member-menu li{
    display: flex; align-items: center;
    height: 40px; padding: 8px 16px;
    font-size: var(--font-small); }
.member-menu li:hover {
    border-radius: 4px; background-color: var(--logo-color);}


.main { padding: 20px 0px; box-shadow: 2px 2px 10px rgb(0,0,0); }
.main .cont { display: flex; justify-content: center;}
.main .cont .main-menu {
    display: flex;
    min-width: 400px; max-width: 1280px;
    justify-content: space-evenly; }
.main .cont .main-menu li {  font-size: var(--font-medium); padding: 0px 20px; }

/* footer */
.footer{
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    background-color: #5F5F5F;
    padding: 10px 0;
    color: #c0c0c0;}
