
/* body */
.container { justify-content: center; min-width: 828px; }

.formBoard {display: flex; flex-direction:column; justify-content: center; width: 768px; padding: 40px 30px; }
.formBoard .formBoard-board { display: flex; flex-direction:column; }
.formBoard .formBoard-board textarea{ height: 400px; resize: none; padding: 10px; }

.formBoard-pull {display: flex; justify-content: space-between;}
.formBoard-pull a,
.formBoard-pull a:focus,
.formBoard-pull a:hover,
.formBoard-pull span,
.formBoard-pull span:focus,
.formBoard-pull span:hover {
    z-index: 3;
    cursor: default;
}
.formBoard-pull span{
    display: flex;
    align-items: center; justify-content:center;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    padding: 1px 6px;
    border-radius: 4px;
    height: 36.85px;
    color: #f0f4f5; font-size: var(--font-small);}
.formBoard-pull button{
    width: 50px; height: 36.85px;
    align-items: center; justify-content:center;
    font-size: var(--font-small);
    color: #f0f4f5; border-radius: 4px; }