<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>TourList 홈페이지</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/attractions.css}" />

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">

    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/ac79bf9ffb.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function Date()
        {
            let date = document.getElementById('date').value;

            if("" == date){
                alert("날짜를 입력하세요");
                document.getElementById('date').focus();
                return;
            }
            document.formStatistics.action= "date"
            document.formStatistics.submit();
        }
    </script>
</head>
<body>
    <div th:replace="layout/header::header"></div>

    <div class="container">
        <div class="content-box">
            <div class="attr-box" style="width: 768px;">
<!--                <form class="formAttr" name ="formAttr" method="post">
                    <label>
                        날짜를 입력해주세요
                        <input type="date" id="date" name="date" class="date" />
                        <button type="button" class="btn btn-date" id="btn_Date" onclick=Date() >입력</button>
                    </label>
                </form>-->

                <ul data-role="listview" data-inset="true">
                    <div class="attr" th:if="${result} ne null" >
                        <span th:each="Tour : ${result}">
                            <li >
                                <a th:href="'/tourlist/view?contentId='+ ${Tour.getContentid()}" >
                                    <div class="info" style="height: 150px;">
                                        <span th:if="${Tour.getFirstimage()}  ne '없음'">
                                            <img style="width: 200px; height: 150px;" th:src="${Tour.getFirstimage()}"><br>
                                        </span>
                                        <span th:unless="${Tour.getFirstimage()}  ne '없음'">
                                            <img style="width: 200px; height: 150px;" th:src="@{/image/Noimg.png}" alt="이미지 없음"><br>
                                        </span>

                                        <div class="title">
                                            <span th:text="${Tour.getTitle()}"></span>
                                            <span  th:if="${Tour.getAddr1()}  ne '없음'" th:text="${Tour.getAddr1()}"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </span>
                    </div>
                </ul>

                <!-- 페이지 번호 -->
                <!--<nav aria-label="Page navigation">
                    <ul class="pagination"
                        th:with="startNumber=(${T(java.lang.Math).floor(result.number/10)}*10+1), endNumber=((${result.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${result.totalPages})">
                        <th:block  th:if="${endNumber}">
                            <li>
                                <a aria-label="Previous" href="/tourlist/board?page=1"><span>&laquo;</span></a>
                            </li>
                            <li th:style="${result.first} ? 'display:none'">
                                <a th:href="@{/tourlist/board(page=${result.number})}"><span>&lsaquo;</span></a>
                            </li>
                            <li class="active" th:each="page : ${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${result.number}+1) ? 'active': 'none'">
                                <a href="#" th:href="@{/tourlist/board(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
                            </li>
                            <li th:style="${result.last} ? 'display:none'">
                                <a th:href="@{/tourlist/board(page=${result.number}+2)}"><span>&rsaquo;</span></a>
                            </li>
                            <li>
                                <a  aria-label="Next" th:href="@{/tourlist/board(page=${result.totalPages})}"><span>&raquo;</span></a>
                            </li>
                        </th:block >
                    </ul>
                </nav>-->
            </div>
        </div>
    </div>

    <div th:replace="layout/footer::footer"></div>
    </body>
</html>
<!--
                        <p>
                            <xmp>
                                -썸네일 이미지를 항목 왼쪽에 추가한 리스트뷰
                                <img> 태그 안에 보여줄 이미지 파일의 경로를 src 속성값으로 지정
                                썸네일 이미지의 크기는 80px*80px정도..
                                기본크기보다 큰 썸네일 이미지는  가로를 기준으로 줄어든다
                                원래 이미지가 정사각형이 아닌 경우  가로를 기준으로 줄이게되면
                                세로(아래쪽)부분에 빈 공간이 발생할 수 있다
                                필요하면 style을 직접 지정하도록 한다
                                <li>
                                    <a href="#">
                                        <img src="경로"/>항목이름1
                                    </a>
                                </li>
                            </xmp>
                        </p>

                            <span th:text="${Tour.getGun()}"></span><br>
                            <span th:text="${Tour.getAddr1()}"></span><br>
                            <span th:text="${Tour.getAddr2()}"></span><br>
                            <span th:text="${Tour.getAreacode()}"></span><br>
                            <span th:text="${Tour.getCat1()}"></span><br>
                            <span th:text="${Tour.getCat2()}"></span><br>
                            <span th:text="${Tour.getCat3()}"></span><br>
                            <span th:text="${Tour.getContentid()}"></span><br>
                            <span th:text="${Tour.getContenttypeid()}"></span><br>
                            <span th:text="${Tour.getCreatedtime()}"></span><br>
                            <span th:if="${Tour.getFirstimage()}  ne '없음'">
                                <img style="width: 768px;" th:src="${Tour.getFirstimage()}"><br>
                            </span>
                            <span th:if="${Tour.getFirstimage2()}  ne '없음'">
                                <img style="width: 768px;" th:src="${Tour.getFirstimage2()}"><br>
                            </span>
                            <span th:text="${Tour.getMapx()}"></span><br>
                            <span th:text="${Tour.getMapy()}"></span><br>
                            <span th:text="${Tour.getMlevel()}"></span><br>
                            <span th:text="${Tour.getModifiedtime()}"></span><br>
                            <span th:text="${Tour.getReadcount()}"></span><br>
                            <span th:text="${Tour.getSigungucode()}"></span><br>
                            <span th:text="${Tour.getTitle()}"></span><br>
                            <span th:text="${Tour.getZipcode()}"></span><br>
-->