<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html"/>
  <link rel="stylesheet" th:href="@{/css/base.css}" />
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
  <!-- 아이콘 -->
  <script src="https://kit.fontawesome.com/ac79bf9ffb.js" crossorigin="anonymous"></script>
  <title>TourList 홈페이지</title>
</head>
<body>
<!-- ---------------------------<header>--------------------------------------- -->
  <div th:replace="layout/header::header"></div>

<!-- -------------------------- <footer> -------------------------------------- -->
  <div th:replace="layout/footer::footer"></div>
</body>
</html>